<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (template, menu)">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>PetClinic :: a Spring Framework demonstration</title>

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/resources/css/petclinic.css}"/>

    </head>

    <body>
        <style>
            .navbar-aux{
                z-index:1;
                background: rgb(76,66,240);
background: linear-gradient(90deg, rgba(76,66,240,0.9471988624551383) 17%, rgba(194,30,77,1) 42%, rgba(121,9,9,0.7035013834635417) 68%, rgba(255,0,0,1) 100%);
            }
            
            a, span{
                color:#212121;
            }
            
            .navbar-brand:hover{
                color:#E1F5FE;
            }
            
            .fa-paw{
                font-size: 25px;
                padding-right: 10px;
            }
            
            @media only screen and (max-width: 760px) {
                .navbar-brand, .nav-brand:hover{
                    color:transparent;
                    
                }
            }
        </style>
        <nav class="navbar-aux" role="navigation">

            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}"><i class="fas fa-paw"></i>Petclinic<span></span></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                        <div style="display:flex;">
                            <i class="fas fa-bars" style="font-size:20px;"></i>
                            <p style="margin-left:20px;">Menu</p>
                        </div> 
                        <span class="sr-only"><os-p>Toggle navigation</os-p></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                
                <div class="navbar-collapse collapse" id="main-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li th:fragment="menuItem (path,active,title,glyph,text)" class="active" th:class="${active==menu ? 'active' : ''}">
                            <a th:href="@{__${path}__}" th:title="${title}">
                                <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                                <span th:text="${text}">Template</span>
                            </a>
                        </li>
                                            
                        <li th:replace="::menuItem ('/admin/owners/find','owners','find owners','search',#{fo})">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            <span>Find owners</span>
                        </li>
                        
                        <li th:replace="::menuItem ('/admin/citas','citas','citas','th-list','Cita')">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            <span>Citas</span>
                        </li>

                        <li th:replace="::menuItem ('/vets/find','vets','veterinarians','th-list',#{v})">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            <span>Veterinarians</span>
                        </li>

                        <li th:replace="::menuItem ('/medicamento/find','medicamento','medicamentos','th-list','Medicamentos')">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            <span>Medicamentos</span>
                        </li>
                        
                        <li th:replace="::menuItem ('/products','product','products','th-list','Productos')">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            <span</span>
                        </li>

                        <li th:replace="::menuItem ('/Reportes.html','rep','reps','th-list','Reportes')">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            <span>Reportes</span>
                        </li>

                        <li th:replace="::menuItem ('/user/home','list','list','th-list','Usuario')">
                        </li>
                        
                        <li><a href="https://doc-0k-bk-docs.googleusercontent.com/docs/securesc/3op7sc97d21c27i4p5e7sma56mbpbbkg/mpv5ej4v8phl9up2k997l4cib69dmlf5/1554141600000/06103834008367693175/06103834008367693175/1bYFqYfS7XYOt6ERW_GixacVT5ld-6M_2?e=download&h=11891360212814499854&nonce=425s5aejepqr2&user=06103834008367693175&hash=okosjh04fc3cbd4cut5lghhqh5298pp0" target="_blank">Manual</a></li>
                        
                        <li th:replace="::menuItem ('/logout','logout','users','th-list','Logout')">                                                        
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <th:block th:include="${template}"/>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    </body>

</html>
